<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Stocks</title>
</head>
<body>
    <h2>All Stocks</h2>
    <p>Welcome, {{ session['username'] }}!</p>
    <h3>Stocks:</h3>
    <ul>
        {% for symbol, data in all_stocks.items() %}
            <li>{{ data['Global Quote']['05. price'] }}</li>
        {% endfor %}
    </ul>
    <a href="/logout">Logout</a>
    <a href="/home">Home</a>
</html>